body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.notClickAble {
    cursor: default !important;
    background-color: #DCDCDC;
}

.glyphicon-refresh-animate {
    -webkit-animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin3 .7s infinite linear;
    -moz-animation: spin4 .7s infinite linear;
    -ms-animation: spin5 .7s infinite linear;
    -ms-animation: spin6 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: scale(1) rotate(0deg);
    }

    to {
        -webkit-transform: scale(1) rotate(360deg);
    }
}

@-moz-keyframes spin3 {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin4 {
    from {
        -moz-transform: scale(1) rotate(0deg);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
    }
}

@-ms-keyframes spin5 {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@keyframes spin6 {
    from {
        -ms-transform: scale(1) rotate(0deg);
    }

    to {
        -ms-transform: scale(1) rotate(360deg);
    }
}
