@{
    ViewBag.Title = "index";
}
<body ng-controller="RoomController">
    <h2>{{CurrentRoom.Name}}</h2>
    <div class="row">
        <div id="questionTables" ng-show="!SpecificQuestionShown">

            <div class="col-md-8">
                <h4>Host questions</h4>
                <table id="hostQuestionsTable" class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Question text
                            </th>
                            <th>
                                Created by
                            </th>
                            <th>
                                Upvotes
                            </th>
                            <th>
                                Downvotes
                            </th>
                            <th>
                                Image
                            </th>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer" ng-repeat="question in Questions|filter: { RoomId: '@ViewBag.roomId',CreatedById: CurrentRoom.CreatedById } " ng-click="ShowSpecificQuestion(question)">
                            <td>{{question.QuestionText}}</td>
                            <td>{{question.CreatedById}}</td>
                            <td>{{question.Upvotes}}</td>
                            <td>{{question.Downvotes}}</td>
                            <td>{{question.Img}}</td>
                    </tbody>
                </table>
                <div ng-show="CurrentRoom.UsersCanAsk">
                    <h4>User questions</h4>
                    <table id="userQuestionsTable" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Question text
                                </th>
                                <th>
                                    Created by
                                </th>
                                <th>
                                    Upvotes
                                </th>
                                <th>
                                    Downvotes
                                </th>
                                <th>
                                    Image
                                </th>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer" ng-repeat="question in Questions|filter: { RoomId: '@ViewBag.roomId',CreatedById: '!'+CurrentRoom.CreatedById  } " ng-click="ShowSpecificQuestion(question)">
                                <td>{{question.QuestionText}}</td>
                                <td>{{question.CreatedById}}</td>
                                <td>{{question.Upvotes}}</td>
                                <td>{{question.Downvotes}}</td>
                                <td>{{question.Img}}</td>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3" id="createQuestionDiv">
                    <button id="createQuestionButton" ng-disabled="userId!=CurrentRoom.CreatedById&&!CurrentRoom.UsersCanAsk" title="{{ userId!=CurrentRoom.CreatedById&&!CurrentRoom.UsersCanAsk ? 'User Questions are disabled' : ''}}" style="pointer-events: auto;" class="btn btn-primary" onclick="$('#myModalCreate').modal('toggle')">Create Question</button>
                </div>
            </div>

        </div>
        <div id="specificQuestion" ng-show="SpecificQuestionShown">
            <div class="col-md-8">
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>
                            Question text
                        </th>
                        <th>
                            Created by
                        </th>
                        <th>
                            Upvotes
                        </th>
                        <th>
                            Downvotes
                        </th>
                        <th>
                            Image
                        </th>
                    </tr>
                    <tr>
                        <td>{{SpecificQuestion.QuestionText}}</td>
                        <td>{{SpecificQuestion.CreatedById}}</td>
                        <td>{{SpecificQuestion.Upvotes}}</td>
                        <td>{{SpecificQuestion.Downvotes}}</td>
                        <td>{{SpecificQuestion.Img}}</td>
                    </tr>

                </table>
                <form>
                    <div ng-repeat="responseOption in SpecificQuestion.ResponseOptions">
                        <label>{{responseOption.Value}}</label>
                        <input type="radio" />
                    </div>
                </form>
                <button class="btn btn-primary">Submit</button><button style="float:right" class="btn btn-primary" ng-click="ToggleShowQuestionTables()">Back to questions</button>
            </div>
        </div>
        @* Chat code found at: http://bootsnipp.com/snippets/featured/chat *@
        <div class="col-md-4" ng-show="CurrentRoom.HasChat">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            <div class="container" style="overflow-y: auto; max-height: 500px">

                <div class="row">
                    <div class="message-wrap col-lg-8">
                        <div class="msg-wrap">
                            <div class="media msg">
                                <div class="media-body">
                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

                                    <h5 class="media-heading">Naimish Sakhpara</h5>
                                    <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
                                </div>
                            </div>
                            <div class="media msg">
                                <div class="media-body">
                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

                                    <h5 class="media-heading">Naimish Sakhpara</h5>
                                    <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
                                </div>
                            </div>

                            <div class="media msg">
                                <div class="media-body">
                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                                    <h5 class="media-heading">Naimish Sakhpara</h5>

                                    <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="send-wrap ">

                <textarea ng-model="textAreaModel" class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>


            </div>
            <div class="btn-panel">
                <button class="btn btn-primary" ng-click="postChatMessage(textAreaModel)">Send message</button>
            </div>
        </div>

    </div>

    <!-- Modal --> <!--Stops modal from closing-->
    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true" data-keyboard="true">
        <div class="modal-dialog center">
            <div class="modal-content modal-heigh">
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="row">
                                <label class="col-md-6">Question text:</label> <input ng-model="QuestionText" type="text" class="col-md-6" placeholder="Enter Question text" />
                            </div>
                            <div class="row">
                                <label class="col-md-6">Question type:</label>
                                <select class="col-md-6" ng-model="QuestionType" ng-options="Type.name for Type in QuestionTypes">
                                    <option value=""disabled selected> Choose type </option>
                                </select>
                            </div>
                            <div ng-show="QuestionType != undefined && QuestionType.val != 'TextualQuestion'" class="row">
                                <label class="col-md-6">Response options:</label>
                                <div  ng-repeat="option in ResponseOptions">
                                    <input ng-model="ResponseOptions[option.id].val" class="col-md-6" type="text" placeholder="Add response options" />
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Picture</label> <input ng-model="Picture" class="col-md-6" value="Browse" type="button" max="3" min="1" />
                            </div>
                        </div>
                        <div class="row">
                            <button id="ModalCreateQuestionButton" type="submit" class="btn btn-md center-block" ng-click="postQuestion()" data-dismiss="modal">Create question</button>
                            <button id="ModalCancelButton" type="button" class="btn btn-md center-block" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <!--Modal end-->
    <script type="text/javascript">
        var MyRoomIdFromViewBag = '@ViewBag.roomId';
    </script>
</body>